
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/** - all elements on page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(146, 146, 146);
}
.container {
    height: 100vh;
    margin: 0 auto;
    width: 75%;
}
.title-container {
    padding: 1rem 0;}

.title-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size:  2rem;
    font-weight:  900;
    text-align: center;
}
.description-container {padding: 0 1rem;
}

.description-container p {
    color: beige;
    letter-spacing: 0.1rem;
    text-align: center;
    line-height: 0.1rem;
    font-size: 1.3rem;
}

img {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 150pt;
    border-radius: 50%;
}

.table-container {
    width: 75%;
    margin: 3rem auto;
}
ul {
    list-style: none;
}

#td-method {
    padding-left: 3rem;
    vertical-align: text-top;
    padding-top: 1rem;

}

#td-method ul li {
    margin-bottom: 2rem;
}

#td-method ul li:first-child {
    margin-top: 2rem;
}

#td-method ul li span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

#td-ingredients {
        text-align: center;
    }

    #td-ingredients ul li {
        margin-bottom: 1rem;
    }

    #td-ingredients ul li:first-child {
        margin-top: 2rem;
    }

    .footer {
    padding-bottom: 3rem;
    text-align: center;
    }
    
    .footer ul{
        width: 50%;
        margin: auto;
    }

    .footer ul li {
        display: inline-block;
    }

    .footer{
        color: rgb(66, 66, 66) ;
        font-size: 3rem;
    }
    
    .footer ul li:first-child {
        margin-right: 5rem;
    } 

    .footer ul li:last-child {
        margin-left: 5rem;
    }


